* {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: right;
}

.navbar > .active {
  border-bottom: 1px solid white;
}

.navbtn {
  color: white;
  font-size: 1em;
  margin-right: 20px;
  display: inline;
}

.home-section {
  height: 100vh;
  background-color: skyblue;
}

.events-section {
  height: 100vh;
  background-color: lightcoral;
}

.fg-section {
  height: 100vh;
  background-color: lightgoldenrodyellow;
}

.board-section {
  height: 100vh;
  background-color: aquamarine;
}

.merch-section {
  height: 100vh;
  background-color: peru;
}

.footer-section {
  height: 150px;
  background-color: palevioletred;
}


/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.App-header {
  font-size: calc(3px + 2vmin);
  height: 60px;
}

#nav {
  list-style: none;
  margin-right: 10px;
  float: right;
}

li {
  display: inline-block;
  margin: 0px 5px;
  padding: 5px 15px;
  color: #313131;
  background-color: white;
  border-radius: 1000px;
  border: 1px solid #313131;
  box-sizing: border-box;
  transition: 0.2s;
}

li:hover {
  color: white;
  background-color: #313131;
  cursor: pointer;
}
*/
